#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "RansomRadar IRP Control Program"
#define VER_INTERNALNAME_STR        "RansomRadarIrpCtl.exe"
#define VER_ORIGINALFILENAME_STR    "RansomRadarIrpCtl.exe"

#include "common.ver"
